.collapse {
    /* display: block !important; enable to display all for printing */
    height: auto !important; 
}
.section-col, .hex-col {
    display: none;
}

.collapse {
    margin-left:  0;
    margin-right: auto;
}

.print-message {
    display: block;
  
    background: orange!important;
    padding: 1rem!important;
    position: absolute;
    top: 1rem;
    border: 6px solid orange;
    font-size: 20px;
}

.card {
    margin: 0;
    width: 100%;
    padding-right: 8%;
}

.carousel-item {
    color: black;
    display: block;
    page-break-after:always;
    padding: 100px;
}


.carousel-indicators{display: none;}
.item{display:block;}
.carousel-item { page-break-after:always;}



#whatweheard, #whatweheard .carousel-item {
    height: auto;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
}
#sixthemes, #sixthemes .carousel-item{
    height: auto;