html {
    font-size: calc(0.7em + 0.4vw + 0.2vh);
}

body {
    background: #fafafa;
    color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
}

p {
    margin: 2rem 0;
}



ul {
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
}

a, a:visited {
    color: #535cfa
}

a:hover {
    color: black;
}

.dark a:hover {
    color: white;
}

.source {
    font-size: 0.8rem;
}

main {
    background: #fff;
    width: 84vw;
    height: 100%;
    align-items: flex-start;
    margin-left: 16vw;
    overflow-x: hidden;
}

main p, main ul, main ol, main h1, main h2, main h3 {
    max-width: 72ch
}

#frontmatter {
    background: linear-gradient(130deg, #535cfa, #7A52FC);
    padding: 14vh 4vw 0 4vw;
    min-height: 86vh;
    position: relative;
}

@media only screen and (min-height: 1100px) {
    #frontmatter {
        min-height: 0;
        padding: 14vh 4vw;
    }
  }

#frontmatter h1 {
    font-size: 2.6rem;
    color: #222;
    margin: 0;
    line-height: 100%;
}

#frontmatter h2 {
    font-size: 1.2rem;
    color: #222;
    font-weight: normal;
    margin: 0 0 1rem 0;
    border: 0;
    padding: 0;
}

#bodymatter {
    padding: 0;
}

main h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0;
    color: #222;
}

main h2 {

    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 0;
    color: #222;
    border-top: 1px solid #00000088;
    padding-top: 2rem;
}

h3 {
    font-size: 1rem;
    color: #222;
}

.dark h3 {
    color: white;
}

.dark h1, .dark h2 {
    color: white;
    border-color: #ffffff88;
}


.light .chart {
    background: #333;
    color: white;
}

.chart {
    max-width: 66vw;
}

.dark .chart {
    background: white;
}

.fleximg {
    max-width: 70vw;
    max-height: 60vh;
}

#ID-overview-sparkline {
    display: flex;
    flex-flow: row wrap;
    max-width: 72ch;
}

.sparkAnalytic {
    flex: 0 0 30%;
    margin: 1% 1% 1% 0;
    padding: 1%;
    font-size: 0.8rem;
    background: #fff;
    color: #333;
}

.sparkAnalytic:last-child {
    border-right: 0;
}

.sparkchart {
    position: relative;
}

._GAGu {
    font-weight: bold;
}

.horizontal-3 {
    display: flex;
    justify-content: flex-start;
    margin: 2rem 0;
}

.horizontal-3 li {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    margin-right: 4.5%;
}

.horizontal-3 .head {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background: red;
    margin-bottom: 4.5%;
}



.horizontal-3 span {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(130deg, #535cfa, #7A52FC);
    color: white;
}

.sec {
    padding: 4vw;
    position: relative;
}

.dark {
    background: #333;
    color: white;
}

:root {
    --opacity: 0;
}

nav {
    background: #222;
    position: fixed;
    height: 100vh;
    width: 16vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

nav > ul {
    padding-top: 14vh;
    opacity: var(--opacity);
	-webkit-transition: opacity  500ms ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: opacity  500ms ease-in-out;
}

nav li li {
    margin-left: 0.5rem;
    font-size: 0.7rem;
}

nav li {
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

nav a, nav a:visited {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.5rem;
    display: block;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

nav h1 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

nav h1#chap2 {
    margin-top: 1.5rem;
}

#hexheader {
    position: absolute;
    top: 0;
    right: 0;
    width: 84vw;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

/* set the default transition time */
:root {
    --left: 20%; 
    --top: 20%;
    --width: 20%;
}

#hexheader .hex-item {
    opacity: 1;
    fill: transparent;
    position: absolute;
    z-index:-1;
	-webkit-transition: transform  10s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: transform  10s ease-in-out;
    will-change: transform;
    mix-blend-mode: color-dodge;

    
    width: var(--width);
    left: var(--left);
    top: var(--top);

    display: none;
}

.hex {
	-webkit-transition: fill 500ms, stroke-width 250ms; /* For Safari 3.1 to 6.0 */
    transition: fill 500ms, stroke-width 250ms;
    fill: #535cfa;
}

#frontmatter > *:not(#hexheader) {
    z-index: 2;
    position: relative;
}

.hex{
    fill: #7A52FC;
}

.hex-item:nth-child(odd) .hex {fill: #535cfa;}

