/* body, html { 
  min-height: 100%;
} */

body {
  overflow-x: hidden;
  /* background-image: url('header.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center; */
  background-color: #00839b;
}

.row.over, .over svg {
  /* background-color: #00839bcc; alpha hex codes are cool but don't work on IE */
  background-color: #00839b;
}

.row.elem, .elem svg {
  background-color: #008bac;
}

.row.impl, .impl svg {
  background-color: #00acc8;
}

h1.phac{
  text-align: left;
  color:white;
  font-size: 3rem;
  font-family:Arial, Helvetica, sans-serif; 
  text-transform: uppercase;
  font-weight: 600;
}

h2.phac{
  text-align: left;
  color:#00acc8;
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
  font-family:Arial, Helvetica, sans-serif; 
  text-transform: uppercase;
}

h3.phac{
  text-align: left;
  color:white;
  font-size: 1.8rem;
  font-family:Arial, Helvetica, sans-serif; 
  text-transform: uppercase;
  font-weight: 600;
}

h3.button-title, .button-title{
  text-align: left;
  color:white;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family:Arial, Helvetica, sans-serif; 
  text-transform: uppercase;
  transform: translateY(0.6rem);
  line-height: 8.45rem;
}

h4.phac{
  text-align: left;
  color:#00acc8;
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
  font-family: Arial, Helvetica, sans-serif;
}

p.phac{
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

h4.targ{
  text-align: left;
  text-transform: uppercase;
  font-family:Consolas, monaco, monospace;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

h4.nocap{
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
}

h4.quote{
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
}

p.targ{
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

p.def{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  font-size: 1.2rem;
}

h4.collapse-title {
  text-align: left;
  color:#00acc8;
  font-size: 2rem;
  font-family:Arial, Helvetica, sans-serif; 
  text-transform: uppercase;
  font-weight: 600;
}

ol.phase {
  padding-left: 1.7rem;
}

ol.phase li {
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

/* .carousel-control-prev {
  margin-left: -3.5rem;
}

.carousel-control-next {
  margin-right: -1rem;
}

.carousel-inner{
  margin-left: -1.25rem;
} */

ol.carousel-indicators{
  margin-bottom: -1.4rem;
}

.carousel-indicators li{
  background-color: rgb(14, 132, 161)
}

.caret{
  color:black;
  font-size: 3rem;
}

/* .jumbotron-fluid {
  color: hex(#0e5160);
  background-image: url("header.png");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
} */

.nav-item{
  color:white;
  font-size: 1.4rem;
  font-family:Consolas, monaco, monospace;
}

.nav-search { 
  position: relative; 
}

.nav-search input { 
  text-indent: 16px;
}

.nav-search .fa-search { 
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 15px;
}

.ovl {
    opacity: 0;
}

.ovl:hover{
    opacity: 1;
    background: rgb(0,0,0,0.6);
    transition-duration: 700ms;

}

.card.text-white{
      margin: 0 auto;
      float: none;
  }

.card-body{
  margin-bottom: 1rem;
}

/* .card-body.offset{
  transform: translateX(9rem);
  width: 45rem;
} */

.card-text .card-title{
    color: white;
}


.hexagon {
	background:transparent;
	display:inline-block;
	height:3.45rem;
	position:relative;
	width:6rem;
	margin: 2rem 0;
	border: 0;
}

/* not needed with svg buttons?
.hexagon:before {
	border-bottom:1.725rem solid black;
	border-left:3rem solid transparent;
  border-right:3rem solid transparent;
  top:-2.3rem;
	content:'';
  left:0;
  border: 0;
	position:absolute;
}

.hexagon:after {
	border-left:3rem solid transparent;
	border-right:3rem solid transparent;
	border-top:1.725rem solid black;
	bottom:-2.3rem;
	content:'';
  left:0;
  border: 0;
	position:absolute;	
}

*/

/* I'm guessing that this is meant to vertically align the svg, but it shouldn't apply to all svg's (in case we use them elsewhere), and I think I found a different way to do it 
svg{
  transform: translateY(-1.7rem);
} */

/* not sure what the .intro-specific formatting is for 

.intro{
  background:transparent;
  display:inline-block;
	height:3.45rem;
	position:relative;
  width:6rem;
  margin-bottom: 2rem;
  border: 0;
}

.intro::before{
  border-bottom:1.725rem solid black;
	border-left:3rem solid transparent;
  border-right:3rem solid transparent;
  top:-2.3rem;
	content:'';
  left:0;
  border: 0;
	position:absolute;
}



.intro::after{
  border-left:3rem solid transparent;
	border-right:3rem solid transparent;
	border-top:1.725rem solid black;
	bottom:-2.3rem;
	content:'';
  left:0;
  border: 0;
	position:absolute;	
} */

/* .intro:hover{
  background-image:url("Buttons/H Intro.svg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
} */

.timeline-item{
  margin-bottom:3rem;
}

header {
	padding: 2rem 0;
}

.header {
	background-image: url('Header-no-title.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 300px;
	height: 30vh;
	max-height: 560px;
}

.section {
	padding: 2rem 0;
}

footer {
	background: #888
}

.temp123:before {
	content: "";
	height: 100%;
	width: 1px;
	background: white;
	position: absolute;
	left: 3rem;
}

button:hover .st0 {
	fill: #fff!important;
}

button:hover .st1 {
	fill: #00839b!important;
}

svg {
	overflow: visible;
}



.button-title2 {
	text-align: left;
	color:white;
	font-size: 1.1rem;
	font-weight: lighter;
	font-family:Arial, Helvetica, sans-serif; 
	text-transform: uppercase;
}

.main-button {
  height: 6rem;
  width: 6rem;
  border: none;
  background: none;
  cursor: pointer;
  &:focus {
    outline: 2px dashed #17171D;
  }
  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
  &::-moz-focus-inner {
    border: 0;
  }
  svg {
    outline: none;
    transition: transform 0.3s linear;
  }
}
 /* 
.svg-button {
	height: 6rem;
  width: 6rem;
}*/

.main-button h3 {
	float: right;
}

button {
	padding: none;
}