
@font-face {
	font-family: "BebasneueBold";
	src: url("fonts/BebasNeue-Regular.eot"); /* IE9*/
	src: url("fonts/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("fonts/BebasNeue-Regular.woff2") format("woff2"), /* chrome、firefox */
		url("fonts/BebasNeue-Regular.woff") format("woff"), /* chrome、firefox */
		url("fonts/BebasNeue-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "DINOT-Medium";
  src: url("fonts/7251ae7cbcc9c197274aae57493f42ad.eot"); /* IE9*/
  src: url("fonts/7251ae7cbcc9c197274aae57493f42ad.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("fonts/7251ae7cbcc9c197274aae57493f42ad.woff2") format("woff2"), /* chrome、firefox */
	  url("fonts/7251ae7cbcc9c197274aae57493f42ad.woff") format("woff"), /* chrome、firefox */
	  url("fonts/7251ae7cbcc9c197274aae57493f42ad.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	  url("fonts/7251ae7cbcc9c197274aae57493f42ad.svg#DINOT-Medium") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Built-Titling-Lt";
  src: url("fonts/built-titling-lt.ttf");
}

@font-face {
  font-family: "Built-Titling-Rg";
  src: url("fonts/built-titling-rg.ttf");
}



html {
	font-size: calc(8px+118vw);
}

/* body, html {
  min-height: 100%;
} */

/* This sets mostly all the colours, including the background of the hexs to match their respective row */
.vision .hex, .vision .hex-button:hover .hex-icon-container g {fill: #01043f;}
.context .hex, .context .hex-button:hover .hex-icon-container g {fill: #010659;}
.consults .hex, .consults .hex-button:hover .hex-icon-container g {fill: #02098c;}
.strategy .hex, .strategy .hex-button:hover .hex-icon-container g {fill: #030dbf;}
.implement .hex, .implement .hex-button:hover .hex-icon-container g {fill: #040ed8;}
.action .hex, .action .hex-button:hover .hex-icon-container g {fill: #030ff6;}

.vision {background: rgba(1, 4, 63, 0.9);}
.context {background: rgba(1, 6, 89, 0.9);}
.consults {background: rgba(2, 9, 140, 0.9);}
.strategy {background: rgba(3, 13, 191, 0.9);}
.implement {background: rgba(4, 14, 216, 0.9);}
.action {background: rgba(3, 15, 246, 0.9);}
footer {background: #fff;}

.vision .hex-button:hover i/*, .vision h4.collapse-title*/ {color: #01043f;}
.context .hex-button:hover i/*, .context h4.collapse-title*/ {color: #010659;}
.consults .hex-button:hover i/*, .consults h4.collapse-title*/ {color: #02098c;}
.strategy .hex-button:hover i/*, .strategy h4.collapse-title*/ {color: #030dbf;}
.implement .hex-button:hover i/*, .implement h4.collapse-title*/ {color: #040ed8;}
.action .hex-button:hover i/*, .action h4.collapse-title*/ {color: #030ff6;}


h1.phac{color:#fff;}
h2.phac{color:#ced3ff;}
h3.phac{color:#fff;}
h4.phac{color:#ced3ff;}

body {
  overflow-x: hidden;
  background-color: #0a0fbd;
  font-family: "DINOT-Medium", helvetica, arial, sans-serif;
  background-image: url(header-final.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -10vh;
}

/* just tryin somethin out here
	body:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 0%;
	background: url(images/header-2.jpg) no-repeat;
	background-size: 100%;
    background-position: center -9vh;
	animation: pulse 2s infinite;
	opacity: 0.4;
}

@keyframes pulse {

  20% {
	  height: 0%;
  }
  50% {
	height: 100%;
		bottom: 100%;
  }
  70% {
	  height: 0%;
  }

}
*/

p, ul {
	font-size: 1.1rem;
}

.row.elem, .elem svg {
  background-color: #008bac;
}

.row.impl, .impl svg {
  background-color: #00acc8;
}

h1.phac{
  text-align: left;
  font-size: 6.5rem;
  letter-spacing: 0.4rem;
  font-family:"Built-Titling-Rg";
  text-transform: uppercase;
}

h2.phac{
  text-align: left;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-family:Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h3.phac{
  text-align: left;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-family: "Built-Titling-Rg";
  text-transform: uppercase;
}

h3.button-title, .button-title{
  text-align: left;
  color:white;
  font-size: 1.2rem;
  font-weight: lighter;
  font-family:Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transform: translateY(0.6rem);
}

h3.carousel-title{
  font-family: "DINOT-Medium", Arial, Helvetica, sans-serif;
  size: 1.1rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

h4.phac{
  text-align: left;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

p.phac{
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

h4.targ{
  text-align: left;
  text-transform: uppercase;
  font-family:Consolas, monaco, monospace;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

h4.nocap{
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
}

h4.quote{
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
}

p.targ{
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

p.def{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  font-size: 1.2rem;
}

h4.collapse-title {
  text-align: left;
  font-size: 3rem;
  font-family: "Built-Titling-Rg";
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.3rem;
  padding-left: .5rem;
}

h4.video-title{
  font-family: "Built-Titling-Lt";
  text-transform: uppercase;
  color: #01043f;
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
}

.collapse-title-box {
  background-color: rgb(3,13,191);
  width: 100%;
  height: 3.5rem;
}

blockquote{
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;
}



.temph {
    padding: 0;
	margin: 1rem -1rem;
}

.img-container {
    display: flex;
    align-items: center;
}

.img-container img {
	margin: auto;
}

.img-fluid{
  width: max-content;
  height: auto;
}
/*
.img-fluid:hover{
  color: #424242;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
-ms-transition: all .3s ease-in;
-o-transition: all .3s ease-in;
transition: all .3s ease-in;
opacity: 1;
transform: scale(1.5);
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
} */

.img.left{
  float: left;
  height: 67%;
  width: 67%;
  padding-right: 0.5rem;
}

.img.right{
  float: right;
  height: 67%;
  width: 67%;
  padding-left: 0.5rem;
}

.btn-primary {
  background-color: rgb(3,13,191);
  text-transform: capitalize;
  font-size: 1.3rem;
  width: 13rem;
  height: 3rem;
}

.emph {
	font-size: 1.2rem;
    margin-left: -35px;
    margin-right: -35px;
    padding: 1rem 2rem;
    margin-bottom: 0;
    color: white;
    background: #030ff6;
	margin: 1rem -35px;
}

.emph i {
	font-size: 2rem;
}

.emph .row {
	padding: 0.5rem 0;
}


ol.phase {
  padding-left: 1.7rem;
}

ol.phase li {
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

/* .carousel-control-prev {
  margin-left: -3.5rem;
}

.carousel-control-next {
  margin-right: -1rem;
}

.carousel-inner{
  margin-left: -1.25rem;
} */


ol.carousel-indicators{
  margin-bottom: -1.4rem;
}

.carousel-indicators li{
  background-color: rgb(14, 132, 161)
}

.caret{
  color:black;
  font-size: 3rem;
}

/* .jumbotron-fluid {
  color: hex(#0e5160);
  background-image: url("header.png");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
} */

.nav-item{
  color:white;
  font-size: 1.4rem;
  font-family:Consolas, monaco, monospace;
}

.nav-search {
  position: relative;
}

.nav-search input {
  text-indent: 16px;
}

.nav-search .fa-search {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 15px;
}

.ovl {
    opacity: 0;
}

.ovl:hover{
    opacity: 1;
    background: rgb(0,0,0,0.6);
    transition-duration: 700ms;

}

.card.text-white{
      margin: 0 auto;
      float: none;
  }

.card-body{
  margin-bottom: 1rem;
}

/* .card-body.offset{
  transform: translateX(9rem);
  width: 45rem;
} */

.card-text .card-title{
    color: white;
}


.hexagon {
	background:transparent;
	display:inline-block;
	height:3.45rem;
	position:relative;
	width:6rem;
	margin: 2rem 0;
	border: 0;
}

/* not needed with svg buttons?
.hexagon:before {
	border-bottom:1.725rem solid black;
	border-left:3rem solid transparent;
  border-right:3rem solid transparent;
  top:-2.3rem;
	content:'';
  left:0;
  border: 0;
	position:absolute;
}

.hexagon:after {
	border-left:3rem solid transparent;
	border-right:3rem solid transparent;
	border-top:1.725rem solid black;
	bottom:-2.3rem;
	content:'';
  left:0;
  border: 0;
	position:absolute;
}

*/

/* I'm guessing that this is meant to vertically align the svg, but it shouldn't apply to all svg's (in case we use them elsewhere), and I think I found a different way to do it
svg{
  transform: translateY(-1.7rem);
} */

/* not sure what the .intro-specific formatting is for

.intro{
  background:transparent;
  display:inline-block;
	height:3.45rem;
	position:relative;
  width:6rem;
  margin-bottom: 2rem;
  border: 0;
}

.intro::before{
  border-bottom:1.725rem solid black;
	border-left:3rem solid transparent;
  border-right:3rem solid transparent;
  top:-2.3rem;
	content:'';
  left:0;
  border: 0;
	position:absolute;
}



.intro::after{
  border-left:3rem solid transparent;
	border-right:3rem solid transparent;
	border-top:1.725rem solid black;
	bottom:-2.3rem;
	content:'';
  left:0;
  border: 0;
	position:absolute;
} */

/* .intro:hover{
  background-image:url("Buttons/H Intro.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} */

.timeline-item{
  margin-bottom:3rem;
}

header {
	padding: 2rem 0;
}

.header {
	/*background-image: url('header-final.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center 14%;*/
	min-height: 300px;
	height: 30vh;
	max-height: 400px;
    display: flex;
    align-items: center;
}

.section {
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

.section-title {
    height: 100%;
    display: flex;
    align-items: center;
}

.section-title h3.phac {
	line-height: 100%;
}

.hex-col {
	position: relative;
}

.hex-col:before {
	content: "";
	height: calc(100% + 4rem);
	width: 1px;
	background: white;
	position: absolute;
	left: 3.5rem;
	top: -2rem;
}

.vision .hex-col:before {
	height: 100%;
	top: 2rem;
}



svg {
	overflow: visible;
	height: 5rem;
	width: 5rem;
}




.hex {

	stroke: #ffffff;
	stroke-width: 5px;
	stroke-miterlimit:10;
	-webkit-transition: fill 500ms, stroke-width 250ms; /* For Safari 3.1 to 6.0 */
	transition: fill 500ms, stroke-width 250ms;
}

.hex-button {
	height:5rem;
	width:auto;
	margin: 2rem 0;
	padding: 0;
	position:relative;
	display: flex;
}

.hex-button i {
	color: white;
	line-height: 5rem;
	font-size: 2.5rem;
	margin-left: -3.7rem;
	-webkit-transition: font-size ease-out 250ms; /* For Safari 3.1 to 6.0 */
	transition: font-size ease-out 250ms;
}

.hex-icon-container img {
	width: 3rem;
	margin-top: 1rem;
	-webkit-transition: width ease-out 250ms, margin-top ease-out 250ms; /* For Safari 3.1 to 6.0 */
	transition: width ease-out 250ms, margin-top ease-out 250ms;
	position:relative;
}

.hex-button:hover .hex {
	fill: #fff;
	stroke-width: 10px;
}

.hex-button:hover i {
	font-size: 3rem
}

/* styling for the hex icons from icons8 */
.hex-icon-container svg {
    height: 5rem;
    width: 3.5rem;
	-webkit-transition: width ease-out 150ms; /* For Safari 3.1 to 6.0 */
	transition: width ease-out 150ms;
}
.hex-icon-container g {
	fill: white;
}

.hex-button:hover .hex-icon-container svg {
	width: 4rem;
}

.shrink-icon {
  height: 2.5rem!important;
  width: 3.5rem;
  margin-top: 1.25rem;
}

.hex-button:hover .shrink-icon {
  height: 3rem!important;
  margin-top: 1rem;
}

.hex-button:hover img {
	width: 3.5rem;
	margin-top: 0.75rem;
}

.hex-button:hover .invert {
	filter: invert;
	-ms-filter: invert;
	filter: invert(0%);
	-webkit-filter: invert(0%);
	filter: brightness(1)
}

.hex-button h3 {
	line-height: 5rem;
	margin: -0.5rem 0 0 0.5rem;
}

.hex-button h3:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 1.5rem;
  visibility: hidden;
  background-color: #fff;
  -webkit-transition: all .1s ease;
  transition: all 0.3s ease;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  	-webkit-clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
	clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);

}

.hex-button:hover h3:after{
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.hex-icon-container {
	height: 5rem;
	width: 5rem;
	overflow: hidden;
	margin-left: -5rem;
	text-align: center;
	-webkit-clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
	clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
}





.hex-icon-container i {
	margin-left: 0;
}

.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.expanded-content {
	position: fixed;
	right: 0;
	bottom: 0px;
	height: 70vh;
	overflow: scroll;
	background: white;
	padding: 2rem;
}

.tent {
	width: 40vw;
	height: 70vh;
	border: 0;
}


.btn.focus, .btn:focus {
	box-shadow: none;
}

.card {
	border: 0;
}

footer {
  color: #000;
  position: relative;
  padding-top: 2rem;
}

.bottom-bar {
  fill: #fff;
  width: 3755px;
  height: 3rem;
  position: absolute;
  left: 48%;
  top: 0;
  margin-left: -1877.5px;
  z-index: 2;
  margin-top: -1rem;
}

/*
footer:before {
	content: "";
	height: calc(5rem);
	width: calc(5rem);
	position: absolute;
	background: white;
	-webkit-clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
	clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
	top: -0.5rem;
	left: calc(16.66667% + 1rem);
	margin-top: -1px;
}*/

footer h2.phac {
  color: #000;
}

footer a {color: #040ed8;}
footer a:hover {color: #01043f;}

.footerp {
	max-width: 600px;
	width: 33vw;
  font-size: 1rem;
}


.section {
	position: relative;
}



.section:before {
	content: "";
    background-size: 30%;
    background-repeat: no-repeat;
	background-position: 0% 50%;
    height: 100%;
    left: 0;
    width: 100%;
    top: 0;
    position: absolute;
    opacity: 0;
	-webkit-transition: opacity 20s, background-size 20s, background-position 20s; /* For Safari 3.1 to 6.0 */
	transition: opacity 20s, background-size 20s, background-position 20s;
}

.section:hover:before {
	opacity: 0.3;
	background-size: 50%;
	background-position: -10% 50%;
}

.vision:before {
    background-image: url(images/vision-hover.png);
	mix-blend-mode: lighten;
}

.context:before {
	background-image: url(images/data-context.png);
    mix-blend-mode: normal;
}


.consults:before {
	background-image: url(images/consultations.png);
    mix-blend-mode: normal;
}

.consults:hover:before {
	background-image: url(images/consultations.png);
    mix-blend-mode: normal;
	opacity: 0.1;
}





.header {
	position: relative;
}

/* old version of white bar before I switched to an SVG
.header:after {
    content: "";
    position: absolute;
    width: 3755px;
    left: 48%;
    -webkit-clip-path: polygon(0% 66.6%, 0% 80%, 50.2% 80%, 51.2% 47.8%, 100% 47.8%, 100% 33.3%, 51% 33.3%, 50% 66.6%);
    clip-path: polygon(0% 66.6%, 0% 80%, 50% 80%, 50.7% 47.8%, 100% 47.8%, 100% 33.3%, 50.6% 33.3%, 49.9% 66.6%);
    height: 3rem;
    margin-bottom: -1rem;
    margin-left: -1877.5px;
    background: white;
    bottom: 0;
    z-index: 2;
}*/

.white-bar {
	fill: white;
	width: 3755px;
	height: 3rem;
	position: absolute;
	left: 48%;
    bottom: 0;
    margin-bottom: -1rem;
    margin-left: -1877.5px;
    z-index: 2;
}



.vision {
	padding-top: 4rem!important;
    margin-top: -1rem;
    clip-path: polygon(0% 1rem, 0% 100%, 100% 100%, 100% 0%, 50.5% 0%, 48% 1rem);
}


.module-module-module {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.module {
	-ms-flex: 0 1 100%;
    flex: 0 1 100%;
	-ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
	padding: 0 1rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    margin-top: 4.5rem;
}

.carousel-indicators {
	top: 0;
	bottom: auto;
}

.carousel-indicators li {
	background-color: white;
}

.carousel {
  margin: 0 -35px -35px -35px;
  max-height: 65rem;
}

.carousel-item {
	background: rgb(1,6,89);
	color: white;
  padding: 4rem;
  height: 65rem;
  width: 100%;
}

.carousel-item h4.collapse-title {
    color: rgb(1,6,89);
    background: white;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
	position: relative;
	margin-bottom: 2rem;
}

.carousel-item h4.collapse-title:before {
	content: "";
	padding: 10px 16px;
	background: white;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: -8px;
    -webkit-clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}

.carousel-control-next, .carousel-control-prev {
	width: 10%;
	align-items: start;
	opacity: 1;
}

.img-right {
  float:right;
  width: 50%;
}

.img-right img {
  width: 100%;
}


.img-left {
  float: left;
  width: 60%;
}

strong {
  font-weight: normal;
  color: #030dbf;
}

.card-col {
  max-width: 800px;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .section-col {
    position: relative;
    flex: 6%;
    max-width: 6%;
  }
  .section-col h3.phac {
  	transform-origin: 0 0;
  	transform: rotate(-90deg);
  	font-size: 1.2rem;
  	width: 240px;
  	position: absolute;
  	text-align: center;
  	margin-top: 120px;
  }
}
